div.menu-mobile {
    display: none;

    @media(max-width: 990px) {
        display : none;
        position: fixed;
        top     : 0;
        left    : 0;
        overflow: hidden;
        width   : 100%;
    }

    div.cabecalho {
        display: flex;

        div.menu-button {
            background-color: #fff;

            .hamburger--spin .hamburger-inner {
                transition-duration       : 0.3s;
                transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }

            .hamburger--spin .hamburger-inner::before {
                transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
            }

            .hamburger--spin .hamburger-inner::after {
                transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }

            .hamburger--spin.is-active .hamburger-inner {
                transform                 : rotate(225deg);
                transition-delay          : 0.14s;
                transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            }

            .hamburger--spin.is-active .hamburger-inner::before {
                top       : 0;
                opacity   : 0;
                transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
            }

            .hamburger--spin.is-active .hamburger-inner::after {
                bottom    : 0;
                transform : rotate(-90deg);
                transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
            }

        }

    }
}

main.main-banner {
    width           : 100%;
    height          : 100vh;
    display         : flex;
    justify-content : center;
    flex-direction  : column;
    align-items     : center;
    background-image: linear-gradient(-180deg, #060225, #0F0340);

    div.icon {
        width           : 150px;
        height          : 150px;
        box-sizing      : border-box;
        border          : 5px white solid;
        border-radius   : 50%;
        overflow        : hidden;
        box-shadow      : 0 5px 15px 0px rgba(146, 77, 249, 0.6);
        transform       : translatey(0px);
        background-color: #000;
        animation       : iconFloat 6s ease-in-out infinite;
        margin-bottom   : 30px;
        position        : relative;

        &:before {
            content         : "";
            height          : 3px;
            width           : 3px;
            background-color: #fff;
            position        : absolute;
            bottom          : 0;
            left            : 0;
            animation       : fallen1 1s linear infinite;

        }


        &:after {
            content         : "";
            height          : 3px;
            width           : 3px;
            background-color: #fff;
            position        : absolute;
            bottom          : 0;
            left            : 0;
            animation       : fallen2 2s linear infinite;

        }


        img {
            width              : 150px;
            height             : 150px;
            background-image   : url(../img/profile/meteor.png);
            background-position: 50% 50%;
            background-size    : 80px 80px;
            background-repeat  : no-repeat;
            position           : relative;
            z-index            : 10;
            animation          : imgFall 6s linear infinite;

        }
    }

    div.principal {
        animation: float 3s ease-in-out infinite;

        div.name {
            text-transform: uppercase;
            font-weight   : 700;
            font-size     : 4em;
            text-shadow   : 2px 4px 5px #924df9;
            color         : #fff;
            font-family   : 'Goldman Regular', sans-serif;
        }
    }

    div.secundario {
        animation: float 3s ease-in-out infinite;

        div.text {
            text-transform: uppercase;
            font-weight   : 100;
            font-size     : 1.3em;
            text-shadow   : 2px 4px 5px #924df9;
            color         : #fff;
            font-family   : 'Montserrat', sans-serif;
        }
    }
}

main.content-home {
    width: 100%;

    nav.menu-nav {
        display: flex;

        @media(max-width: 990px) {
            display: none;
        }

        div.item {
            width          : 100%;
            display        : flex;
            justify-content: center;
            align-items    : center;
            position       : relative;
            overflow       : hidden;

            a {
                color          : #fff;
                font-weight    : bold;
                text-transform : uppercase;
                text-decoration: none;
                letter-spacing : 2px;
                line-height    : 80px;
                width          : 100%;
                text-align     : center;
                transition     : all 1s;
                text-shadow    : 0px 0px 0px #0cf0eb;

                &:hover {
                    text-decoration: none;
                }
            }

            &:hover {
                background-color: #000;


                a {
                    letter-spacing: 8px;
                    color         : #fff;
                    text-shadow   : 2px 4px 5px #924df9;
                }


                &:before {
                    content         : "";
                    height          : 3px;
                    width           : 3px;
                    background-color: #fff;
                    position        : absolute;
                    bottom          : 0;
                    left            : 0;
                    animation       : fallen1 1s linear infinite;

                }


                &:after {
                    content         : "";
                    height          : 3px;
                    width           : 3px;
                    background-color: #fff;
                    position        : absolute;
                    bottom          : 0;
                    left            : 0;
                    animation       : fallen2 2s linear infinite;

                }
            }
        }

        div.item.center {
            background-color: #000;

            a {
                color          : #fff;
                font-weight    : bold;
                text-transform : uppercase;
                text-decoration: none;
                line-height    : 80px;
                width          : 100%;
                text-align     : center;
                transition     : all 1s;
                letter-spacing : 8px;
                text-shadow    : 2px 4px 5px #924df9;

                &:hover {
                    text-decoration: none;
                }
            }

            &:before {
                content         : "";
                height          : 3px;
                width           : 3px;
                background-color: #fff;
                position        : absolute;
                bottom          : 0;
                left            : 0;
                animation       : fallen1 1s linear infinite;

            }


            &:after {
                content         : "";
                height          : 3px;
                width           : 3px;
                background-color: #fff;
                position        : absolute;
                bottom          : 0;
                left            : 0;
                animation       : fallen2 2s linear infinite;

            }
        }
    }
}